<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Class</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>

    <div class="input">
        <form action="">
            <input type="text" name="" id="" placeholder="Digite seu código de acesso">
            <input type="text" name="" id="" placeholder="Digite seu nome">
            <input type="submit" value="Confirmar">
        </form>
    </div>
    
    <div class="apresentacao"><h1>Bem vindo ao Team Class</h1></div>

    <div class="apresentacao"><p>A aplicação de presença online para facilitar sua vida</p></div>
    <div class="posiciona">

           <a href="home.html"> <div class="opcao1"><h1 class="botao">Entrar em uma lista</h1></div></a>
           <a href="cadastro.html"> <div class="opcao2"><h1 class="botao">Criar nova lista</h1></div></a>
    </div>



</body>
</html>