<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Class</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>


    
    <div class="apresentacao"><h1>Bem vindo ao Team Class</h1></div>

    <div class="apresentacao"><p>A aplicação de presença online para facilitar sua vida</p></div>
    <div class="apresentacao"> <a href="login.html" class="login"><p> Já é cadastrado? <span class="logar">Faça Log-in</span></p></a></div>
    <div class="posiciona">

            <div class="opcao1"><a href="confirmar.php" class="link"><h1 class="botao">Entrar Em Uma Lista</h1></a></div>
            <div class="opcao2"><a href="cadastro.html"><h1 class="botao2">Criar Uma Nova Lista</h1></a></div> <br/>
            
    </div>



</body>
</html>